table {
    width: 75%;
    border: 1px solid snow;
    font-family: 'Kalam', cursive;
    text-align: center;
    padding-bottom: 7px;
}

th {
    font-weight: bold;
}

.bufferSpace{
    height: 15px;
}

#totalScore {
    font-weight: bold;
}
