<input type="checkbox" id="bonusSeventyFive" [(ngModel)]="allTiles" (change)="bonusPoints()">
<input #newWord type="text" placeholder="Your word"/>
<input #wordToScore type="text" placeholder="Word to score"/>
<button (click)="updateWordsAndScores(newWord.value, wordToScore.value); newWord.value=''; wordToScore.value=''">Score Word</button>

<h3 id="totalScore">Total Score: {{gameScore}}</h3>

<table>
    <tr class="header-row">
        <th>Word</th>
        <th>Score</th>
        <th>All Tiles Used</th>
    </tr>
    <tr *ngFor="let play of wordsWithPoints">
        <td id="word">{{play.word}}</td>
        <td id="points">{{play.pointValue}}</td>
        <td *ngIf=(play.allTilesUsed)>Yes</td>
    </tr>
</table>