h2 {
  font-weight: bold;
}

.mainSection {
  background-color: #000000;
  color: snow;
  font-family: "Cabin", sans-serif;
  padding-top: 10px;
}

.instructions {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 15px;
}

#player1 {
  background-color: #112358;
  padding: 5px 7%;
}

#player2 {
  background-color: #1e88e5;
  padding: 5px 7%;
}

#player3 {
  background-color: #060e9c;
  padding: 5px 7%;
}

#player4 {
  background-color: #05b7a7;
  padding: 5px 7%;
}
