h2 {
    font-weight: bold;
}

.mainSection {
    background-color: midnightblue;
    color: snow;
    font-family: 'Cabin', sans-serif;
    padding-top: 10px;
}

.instructions {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 15px;
}

#player1 {
    background-color: firebrick;
    padding: 5px 7%;
}

#player2 {
    background-color: black;
    padding: 5px 7%;
}

#player3 {
    background-color: peru;
    padding: 5px 7%;
}

#player4 {
    background-color: darkmagenta;
    padding: 5px 7%;
}
