<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p>This page is to assist in scoring your Scrabble game.  Here are some useful instructions:</p>
<ul>
  <li>There is space for four players.  If your game has fewer than 4 players, ignore the spaces you do not need.</li>
  <li>Each player has a place to input words along with a checkbox.  If you use all 7 tiles in your turn, check the box.</li>
  <li>If you play a tile on a double or triple letter tile, simply repeat the letter in your word.  For example, if you play the word "bat" and the "b" is on the double letter square, type "bbat."</li>
  <li>Along the same lines, if you play a tile on a double or triple word square, repeat the word that many times.  For example, if you play the word "bat" and any of the tiles land on a double word square, type "batbat."</li>
  <li>At times, you might end up playing tiles in such a way that you are forming multiple words.  For instance,  you might play a "b" before the word "at" to form "bat" then continue your play to form the word "brad."  In such instances, you can either play the words as different words ("bat" AND "brad") or all as 1 word ("batbrad").</li>
</ul>
<div>
  <app-player1></app-player1>
</div>
